<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.backend.account.dao.AccountLineDao">

    <select id="findList"
            parameterType="com.example.backend.account.vo.AccountLineVo"
            resultType="com.example.backend.account.vo.AccountLineVo">
        select
            acc.account_line_id as accountLineId,
            acc.account_id as accountId,
            acc.account_type as accountType,
            acc.change_money as changeMoney,
            acc.change_time as changeTime,
            acc.pay_type as payType,
            acc.change_user_id as changeUserId,
            u.nickname as changeUserName
        from
            account_line acc
            left join user u on acc.change_user_id = u.id
        <where>
            acc.account_id = #{accountId}
        </where>
        order by acc.change_time desc
    </select>

    <insert id="create" parameterType="com.example.backend.account.vo.AccountLineVo">
        insert into account_line
        (
            account_line_id,
            account_id,
            account_type,
            change_money,
            change_time,
            change_user_id,
            pay_type
        )
        values
        (
            #{accountLineId},
            #{accountId},
            #{accountType},
            #{changeMoney},
            #{changeTime},
            #{changeUserId},
            #{payType}
        )
    </insert>

    <update id="update" parameterType="com.example.backend.account.vo.AccountLineVo">
        update account_line set
            change_money = #{changeMoney},
            change_time = #{changeTime}
        where
            account_line_id = #{accountLineId}
    </update>

    <delete id="delete" parameterType="com.example.backend.account.vo.AccountLineVo">
        delete from account_line
        <where>
            <if test="accountLineId != null">
                and account_line_id = #{accountLineId}
            </if>
            <if test="accountId != null">
                and account_id = #{accountId}
            </if>
        </where>
    </delete>
</mapper>